.auth {
    width: 100vw;
    height: 100vh;
}

.auth-confirmotp {
    border: rgb(104, 104, 104) solid 1px;
    background-color: rgba(17, 17, 17, 0.822);
    border-radius: 5px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 35%;
    height: 200px;
}

.auth-confirmotp > input {
    width: 90%;
    height: 45px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: -5px;
    padding-left: 5px;
    border: none;
    outline: none;
}

.auth-confirmotp > button {
    width: 90%;
    margin-top: 20px;
    background-color: rgba(139, 139, 139, 0.185);
    border: white;
    height: 45px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
}

.auth-getotp {
    border: rgb(104, 104, 104) solid 1px;
    background-color: rgba(17, 17, 17, 0.822);
    border-radius: 5px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 35%;
    height: 200px;
}

.auth-getotp > input {
    width: 90%;
    height: 45px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: -5px;
    padding-left: 5px;
    border: none;
    outline: none;
}
.auth-getotp > button {
    width: 90%;
    margin-top: 20px;
    background-color: rgba(139, 139, 139, 0.185);
    border: white;
    height: 45px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
}

.auth-getotp > button:hover {
    opacity: 0.7;
}

.auth-confirmotp > button:hover {
    opacity: 0.7;
}

@media (max-width: 463px) {
    .auth-getotp {
        border: rgb(104, 104, 104) solid 1px;
        background-color: rgba(17, 17, 17, 0.822);
        border-radius: 5px;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 35%;
        height: 160px;
    }

    .auth-confirmotp {
        border: rgb(104, 104, 104) solid 1px;
        background-color: rgba(17, 17, 17, 0.822);
        border-radius: 5px;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 35%;
        height: 160px;
    }
}
