.dashboard {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

h4 {
    font-weight: 400;
    color: white;
}

span {
    background-color: rgba(19, 19, 19, 0.171);
    border: rgb(88, 88, 88) 1px solid;
    border-radius: 20px;
    width: fit-content;
    color: rgb(182, 182, 182);
    margin-bottom: 5px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    color: white;
    font-weight: 550;
}

.no-slots {
    color: rgb(241, 241, 241);
    position: absolute;
    border-radius: 5px;
    top: 40%;
    background-color: rgba(80, 80, 80, 0.349);
    border: rgba(158, 158, 158, 0.651) solid 1px;
    padding: 10px;
    left: 50%;
    font-weight: 400;
    width: 90%;
    font-size: 20px;
    transform: translate(-50%);
}

.date-picker {
    width: 50%;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.26);
    border: rgb(87, 87, 87) solid 1px;
    color: white;
    border: none;
    padding-left: 6px;
    height: 40px;
    font-size: 16px;
    margin-right: 5px;
}

.date-picker::-webkit-calendar-picker-indicator {
    background-color: rgb(82, 82, 82);
    border: rgb(143, 143, 143) solid 1px;
    border-radius: 5px;
}

.date-picker::-webkit-datetime-edit {
    padding-left: 2px;
    width: 100%;
}

.available-checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.available-checkbox-container > h5 {
    color: white;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 400;
}

.district-select {
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.26);
    border: rgb(87, 87, 87) solid 1px;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    font-size: 17px;
    margin-left: 5px;
}

.search-container {
    width: 95%;
    border-radius: 5px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    margin-right: auto;
    height: 15%;
}

.search-fields {
    display: flex;
    margin-top: 10px;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.find-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-picker {
    cursor: pointer;
}

.refresh-icon {
    color: rgb(228, 228, 228);
    margin-right: 2px;
}

.loader {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30%;
}
.find-btn {
    width: 50%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.26);
    border: rgb(87, 87, 87) solid 1px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.find-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.contents {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.slot {
    border-radius: 15px;
    height: fit-content;
    padding: 3px;
    font-size: 12px;
    margin-right: 2px;
    margin-left: 2px;
    width: fit-content;
    color: white;
    font-weight: 400;
    background-color: rgba(167, 250, 0, 0.267);
    border: 1px solid rgb(0, 250, 0);
}

.fee-type-filter {
    display: flex;
    margin-top: 6px;
    cursor: pointer;
    margin-left: 10px;
}

.fee-type-option1 {
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border: rgb(126, 126, 126) solid 1px;
    width: 50px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 3px;
    font-size: 15px;
    background-color: rgb(26, 26, 26);
    color: rgb(233, 233, 233);
}

.fee-type-option2 {
    border-right: white;
    width: 50px;
    padding: 3px;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border: rgb(126, 126, 126) solid 1px;
    background-color: black;
    color: rgb(233, 233, 233);
}

.fee-type-option3 {
    padding: 3px;
    font-size: 15px;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border: rgb(126, 126, 126) solid 1px;
    background-color: black;
    color: rgb(233, 233, 233);
}
